/*colors */
$primary: rgb(42, 55, 99);
$secondary: #e5a037;
$dark: #010924;
$white: #ededed;

$btn-primary: $primary;
$btn-secondary: $secondary;

$btn-primary-outline: $primary;
$btn-secondary-outline: $secondary;


